@import "../../vars.css";

.container{
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-inter);
    border: solid;
    padding-left: 10px;
    border-radius: 40px 40px;
    border-color: var(--color-primary);
    width: 163px;
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
}