@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: linear-gradient(100deg, var(--color-btn-hover) 30%, rgba(13,13,13,0.6) 80%);
    box-shadow: 0 1rem 2rem var(--color-dark);
    padding: 18px 24px;
    max-width: 345px;
    min-width: 345px;
    max-height: 445px;
    min-height: 445px;
}

.image{
    margin-bottom: 5px;
}

.title{
    font-size: 25px;
    font-weight: 700;
    font-family: var(--font-inter);
}

.description{
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.skills{
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

.skill{
    font-size: 15px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 17px;
}

.links{
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}

.link{
    text-decoration: none;
    color: var(--color-text-dark);
    font-size: 24px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-primary);
    padding: 5px 25px;
}

.link:hover{
    transform: scale(0.9);
    box-shadow: 0 16px 14 px 0 #04152d;
    color: var(--color-text);
    background-color: var(--color-btn-hover);
}