@import "../../vars.css";

.container{
    color: var(--color-text);
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    color: var(--color-text);
    font: var(--font-inter);
    font-size: 30px;
    font-weight: 700;
    border: solid;
    padding-left: 10px;
    border-radius: 40px 40px;
    border-color: var(--color-primary);
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}

.skills{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

.skill:hover{
    transform: scale(1.4);
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillImageContainer{
    background-color: var(--color-skillscont);
    border-radius: 20% 20% 20% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

.skillImageContainer:hover{
    box-shadow: 0 1rem 1rem var(--color-primary);
}

.skillImageContainer img{
    width: 50px;
}

.skill p{
    font-size: 13px;
    font-family: var(--font-inter);
    font-weight: 700;
    margin-left: auto;
    margin-top: -15px;
    background-color: var(--color-primary);
    border-radius: 20px;
    padding-left: 7px;
    padding-right: 7px;
    color: var(--color-text-dark);
    transform: rotate(345deg);
    user-select: none;
}


@media screen and (max-width: 830px) {
    .content{
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }
    .skills{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
}