@import "../../vars.css";

.container{
    color: var(--color-text);
    margin-top: 220px;
    background-color: var(--color-skillscont);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 20px 10%;
    gap: 10px;
}

.text h2{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 4px;
}

.text p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 15px;
}

.link{
    display: flex;
    align-items: center;
    gap: 15px;
}

.link a{
    color: var(--color-text);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.icons{
    height:48px;
    width: 48px;
}

@media screen and (max-width: 830px){
    .container{
        flex-direction: column;
        gap: 15px;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .links{
        align-items: center;
    }
}