@import "../../vars.css";


.container{
    color: var(--color-text);
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    color: var(--color-text);
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-inter);
    border: solid;
    padding-left: 10px;
    border-radius: 40px 40px;
    border-color: var(--color-primary);
    width: 235px;
}

.certificates{
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 550px;
}

.LeftArrow{
    cursor: pointer;
    height: 35px;
    width: 42px;
    margin-right: 20px;
    padding: 3px 5px 3px 0px;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-text-dark);
}

.LeftArrow:hover{
    transform: scale(0.9);
    background-color: var(--color-btn-hover);
    color: var(--color-text);
}

.RightArrow:hover{
    transform: scale(0.9);
    background-color: var(--color-btn-hover);
    color: var(--color-text);
}

.RightArrow{
    cursor: pointer;
    height: 35px;
    width: 42px;
    margin-left: 20px;
    padding: 3px 0px 3px 5px;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-text-dark);
}

.slide{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
}


.slideHdn{
    display: none;
}

.indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.indicatorBtn{
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}

.indicatorBtnInactive{
    background-color: grey;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    .window{
        width: 400px;
        height: 100%;
    }
    .certificateImageContainer{
        height: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .certificates{
        width: 900%;
    }
    .certificateImageContainer img{
        width: 100%;
    }
}