@import "../../vars.css";


.container{
    color: var(--color-text);
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
}

.window{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 800px;
    display: flex;
    align-items: center;
}

.title{
    color: var(--color-text);
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-inter);
    border: solid;
    padding-left: 10px;
    border-radius: 40px 40px;
    border-color: var(--color-primary);
    width: 235px;
}

.content{
   height: 100%;
   width: 100%;
   overflow: hidden;    
}

.certificates{
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.certificateImageContainer{
    height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.certificateImageContainer img{
    width: 710px;
}

.LeftArrow{
    cursor: pointer;
    height: 35px;
    width: 42px;
    margin-right: 20px;
    padding: 3px 5px 3px 0px;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-text-dark);
}

.LeftArrow:hover{
    transform: scale(0.9);
    background-color: var(--color-btn-hover);
    color: var(--color-text);
}

.RightArrow:hover{
    transform: scale(0.9);
    background-color: var(--color-btn-hover);
    color: var(--color-text);
}

.RightArrow{
    cursor: pointer;
    height: 35px;
    width: 42px;
    margin-left: 20px;
    padding: 3px 0px 3px 5px;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-text-dark);
}

@media screen and (max-width: 900px){
    .window{
        width: 400px;
        height: 100%;
    }
    .certificateImageContainer{
        height: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .certificates{
        width: 900%;
    }
    .certificateImageContainer img{
        width: 100%;
    }
}