:root {
    /* цвета */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    --color-text-hover: #a3a3ad;
    --color-btn-hover: #09152b;

    /* шрифты */
    --font-roboto: "Roboto";
    --font-outfit: "Outfit";
}