:root {
  --color-text: #f5f7fb;
  --color-text-dark: #111319;
  --color-text-muted: #bdc5d4;
  --color-primary: #c8f560;
  --color-secondary: #2c3445;
  --color-dark: #1a1f2b;
  --color-bg: #0d111a;
  --color-text-hover: #d7deec;
  --color-btn-hover: #b9ee3f;
  --color-text-highlited: #c8f560;
  --color-skillscont: #141925;

  --font-outfit: "Outfit", sans-serif;
  --font-montseratt: "Montserrat", sans-serif;
  --font-inter: "Inter Variable", sans-serif;
}
